.vscode / *
! .vscode / configuraciones.json
! .vscode / tareas.json
! .vscode / lanzamiento.json
! .vscode / extensiones.json
! .vscode / * .fragmentos de código

# Historial local para Visual Studio Code
.historia /

# Extensiones de código de Visual Studio integradas
* .vsix